name: stockbot

on:
  schedule:
    - cron: "0 23 * * *"  # JST 8:00
  workflow_dispatch:

jobs:
  run-stockbot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run stockbot
      env:
        LINE_TOKEN: ${{ secrets.LINE_TOKEN }}
      run: python main.py