name: LINE Test Send

on:
  workflow_dispatch:  # 手動実行できる
jobs:
  send_line:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run main.py
        env:
          LINE_TOKEN: ${{ secrets.LINE_TOKEN }}
        run: python stockbot/main.py
