name: stockbot

on:
  schedule:
    - cron: "0 22 * * *"  # JST 7:00
    - cron: "0 3 * * *"   # JST 12:00
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run main.py
        env:
          LINE_TOKEN: ${{ secrets.LINE_TOKEN }}
        run: python main.py